<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Site Title</title>
    <meta name="description" content="">
    <!-- <link rel="icon" type="image/png" href="static/img/favicon-32x32.png" sizes="32x32" /> -->
    <!-- <link rel="icon" type="image/png" href="static/img/favicon-16x16.png" sizes="16x16" /> -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
